.WeatherForecast .day {
  color: #191970;
  font-weight: bold;
  font-size: 17px;
  text-align: center;
}

.WeatherForecast .forecastImg {
  width: 77px;
  height: 70px;
  margin-top: -32px;
  padding-left: 12px;
}
.WeatherForecast .tempExtremes {
  margin-left: 20px;
}
.WeatherForecast .minTemp {
  color: #191970;
  opacity: 0.8;
  font-weight: bold;
}
.WeatherForecast .maxTemp {
  color: #191970;
  font-weight: bold;
}
.WeatherForecast .forecast-container {
  margin-top: 26px;
}
